@import "@xterm/xterm/css/xterm.css";
@import "tailwindcss";

@source "../app";
@source "../components";

.ssh-terminal .xterm {
  height: 100%;
}

.ssh-terminal .xterm-screen {
  padding: 8px 2px 0 2px;
}

.ssh-terminal .xterm-viewport {
  overscroll-behavior: contain;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
